/* BASIC STYLES HERE */
/* Primary Color */



.primary{
    background-color:#3F72AF;
}

.secondary{
    background-color: #DBE2EF;
}

.third{
    background-color: #F9F7F7;
}

.fourth{
    background-color: #112D4E;
}